<section>
    <h1 class="noupper">Git init</h1>
    <pre class=""><code class="hljs bash" data-trim data-fragment>
            $ git init
    </code></pre>
    <canvas id="git1"></canvas>
    <script type="text/javascript">
        var config = {
            template: graphConfig,
            mode: "extended",
            orientation: "horizontal",
            elementId: "git1",
        };

        var gitgraph = new GitGraph(config);

        var master = gitgraph.branch({
            name: "master",
            column: featureCol
        });

        master.commit("Initial commit");
    </script>
</section>
<section>Projekt Folder</section>
<section>Repository anlegen</section>
<section>.git Folder</section>
<section>.erster Commit</section>
<section>status abfragen</section>

<section>
    <h1 class="noupper">.htacces</h1>
    <pre class=""><code class="hljs bash" data-trim data-fragment>
            $ git init
    </code></pre>
    <canvas id="gitGraph"></canvas>
    <script type="text/javascript">
        var config = {
            template: graphConfig,
            mode: "extended",
            orientation: "horizontal",
            elementId: "gitGraph",
        };

        var gitgraph = new GitGraph(config);

        var master = gitgraph.branch({
            name: "master",
            column: masterCol
        });

        master.commit("Initial commit");

        var develop = gitgraph.branch({
            parentBranch: master,
            name: "develop",
            column: developCol
        });

        master.commit({
            messageDisplay: false
        });

        develop.commit({
            messageDisplay: false
        });

        var feature1 = gitgraph.branch({
            parentBranch: develop,
            name: "feature/1",
            column: featureCol
        });
        feature1.commit("A feature to go into v1.0.0").commit({
            messageDisplay: false
        });
        feature1.merge(develop);

        var feature2 = gitgraph.branch({
            parentBranch: develop,
            name: "feature/2",
            column: featureCol
        });
        feature2.commit("Another feature to go into v1.0.0").commit({
            messageDisplay: false
        });
        feature2.merge(develop);

        var release_100 = gitgraph.branch({
            parentBranch: develop,
            name: "release/v1.0.0",
            column: releaseCol
        });
        release_100.commit({
            message: "Start v1.0.0-rc Release Candidate builds",
            tag: "v1.0.0-rc",
            tagColor: "gray"
        });

        develop.commit({
            messageDisplay: false
        });
        release_100.commit(stabilizationCommit);
        release_100.merge(master, {
            dotStrokeWidth: 10,
            message: "Release v1.0.0 tagged",
            tag: "v1.0.0"
        });
        master.merge(develop);

        var support_10x = gitgraph.branch({
            parentBranch: master,
            name: "support/v1.0.x",
            column: supportCol
        });

        support_10x
            .commit({
                message: "Start v1.0.1-rc Release Candidate builds",
                tag: "v1.0.1-rc",
                tagColor: "gray"
            })
            .commit(bugFixCommit);
        develop.commit({
            messageDisplay: false
        });
    </script>
</section>

