    <head>
        <meta charset="utf-8">

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta name="author" content="{% if page.author %}{{ page.author | escape }}{% else %}{{ site.author | escape }}{% endif %}">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <script src="{{ "assets/js/gitgraph.min.js" | prepend: site.baseurl }}"></script>

        <!--[if lt IE 9] -->
        <script src="{{ "assets/lib/js/html5shiv.js" | prepend: site.baseurl }}"></script>
        <![endif]-->

        <script src="https://use.typekit.net/nhn0syu.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

            <script type="text/javascript">
                    var graphConfig = new GitGraph.Template({
                            colors: ["#9993FF", "#47E8D4", "#6BDB52", "#F85BB5", "#FFA657", "#F85BB5"],
                            branch: {
                                    color: "#000000",
                                    lineWidth: 3,
                                    spacingX: 60,
                                    mergeStyle: "straight",
                                    showLabel: true, // display branch names on graph
                                    labelFont: "normal 14pt Arial",
                                    labelRotation: 0
                            },
                            commit: {
                                    spacingY: -30,
                                    dot: {
                                            size: 8,
                                            strokeColor: "#000000",
                                            strokeWidth: 4
                                    },
                                    tag: {
                                            font: "normal 10pt Arial",
                                            color: "yellow"
                                    },
                                    message: {
                                            color: "black",
                                            font: "normal 12pt Arial",
                                            displayAuthor: false,
                                            displayBranch: false,
                                            displayHash: false
                                    }
                            },
                            arrow: {
                                    size: 8,
                                    offset: 3
                            }
                    });
                    var bugFixCommit = {
                            messageAuthorDisplay: false,
                            messageBranchDisplay: false,
                            messageHashDisplay: false,
                            message: "Bug fix commit(s)"
                    };

                    var stabilizationCommit = {
                            messageAuthorDisplay: false,
                            messageBranchDisplay: false,
                            messageHashDisplay: false,
                            message: "Release stabilization commit(s)"
                    };

                    // You can manually fix columns to control the display.
                    var featureCol = 0;
                    var developCol = 1;
                    var releaseCol = 2;
                    var supportCol = 3;
                    var support2Col = 5;
                    var masterCol = 4;
            </script>
    </head>
