<section id="about" style="text-align: left;">
    <img src="{{ site.baseurl }}/images/niels_nuebel.jpg" height="300" style="float: right">
    <h2>Niels Nübel</h2>
    <ul style="list-style: none; margin-left: 0;">
        <li>Frontend & Backend Developer</li>
        <li>aus Hamburg</li>
        <li>Joomla seit 2009</li>
        <li>erster Joomla!Day 2011 in Hamburg</li>
        <li>seit Juni 2018 <a href="https://kicktemp.com">Kicktemp</a></li>
    </ul>
    <aside class="notes">
        Kurz nur mir ich heiße Niels Nübel bin Frontend und Backend Developer aus Hamburg und habe mit Joomla angefangen im Jahr 2009.<br>
        Mein erst Joomla!Day war 2011 in Hamburg bei Otto. Seitdem gab es einige Events und Ideen und Produkte die Entstanden sind.
        Und damit ich/wir nicht immer die Produkte für uns behalten habe ich mit Stefan Wendhausen und Timo Stark im Juni die Kicktemp UG gegründet.
    </aside>
</section>

